.admin-wrapper {
    .sidebar__logo {
        @include flexJandA(center, flex-start);
        padding-top: 10px;
        box-sizing: border-box;

        img {
            height: 100%;
            width: auto;
            object-fit: contain;
        }
    }
    .siderbar__nav {
        padding: 50px 0;
        box-sizing: border-box;
    }    
    .nav__link {
        @include flexJandA(flex-start, center);
        width: 100%;
        padding: 10px 15px; 
        box-sizing: border-box;  
        transition: all .2s;
        &:hover {
            background-color: rgba(255,255,255,0.9);
            transition: all .2s;
            span {
                color: $c-grey-b84;
                transition: all .2s;
            }
        }  
        &.active {
            background-color: rgba(255,255,255,0.9);
            span {
                color: $c-grey-b84;
            }
        }
        span {
            color: #fff;
            font-size: 16px;
            margin-right: 15px;
            transition: all .2s;
        }    
    }
}
