<h1>POSTS</h1>
<table class="table__general">
    <tr>
        <th>ID</th>
        <th>TITLE</th>        
        <th>IMAGE</th>
        <th>CREATED_AT</th>
        <th>UPDATED_AT</th>
        <th>ACTIONS</th>
        <th>            
            <button mat-icon-button (click)="onCreate()"><mat-icon>add_circle</mat-icon></button>
        </th>
    </tr>
    <tr *ngFor="let posts of arrPosts" (click)="onDetail(posts)"> 
        <td>{{posts.id}}</td>    
        <td>{{posts.title}}</td>        
        <td>
            <img [src]="posts.image" alt="">
        </td>
        <td>{{posts.created_at | date:'medium'}}</td>      
        <td>{{posts.updated_at | date:'medium'}}</td>        
        <td>            
            <button mat-icon-button (click)="onEdit($event, posts)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="onDelete($event, posts.id)"><mat-icon>delete</mat-icon></button>
        </td>
        <td></td>
    </tr>
</table>