<h1>CATEGORIES</h1>
<table class="table__general">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SLUG</th>
        <th>STATUS</th>
        <th>CREATED_AT</th>
        <th>CREATE_BY_ID</th>
        <th>ACTIONS</th>
        <th>
            <button mat-icon-button (click)="onCreate()"><mat-icon>add_circle</mat-icon></button>
        </th>
    </tr>
    <tr *ngFor="let cate of arrCate" (click)="onDetail(cate)">
        <td>{{cate.id}}</td>
        <td>{{cate.name}}</td>
        <td>{{cate.slug}}</td>
        <td>{{cate.status}}</td>
        <td>{{cate.created_at | date:'medium'}}</td>
        <td>{{cate.created_by_id}}</td>        
        <td>            
            <button mat-icon-button (click)="onEdit($event, cate)"><mat-icon>create</mat-icon></button>
            <button mat-icon-button (click)="onDelete($event, cate.id)"><mat-icon>delete</mat-icon></button>
        </td>
        <td></td>
    </tr>
</table>
