.admin-wrapper {
    .table__general {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.4);
        th, td {            
            padding: 0 20px;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(163, 162, 162, 0.39);
        }
        th {
            height: 40px;
            text-align: left;            
            color: #383838;            
        }
        tr {
            &:hover:not(tr:first-child) {
                background-color: rgba(0,0,0,0.08);
            }            
        }
        td {           
            position: relative;
            height: 50px;      
            cursor: pointer;
            &:first-child {
                min-width: 40px;
            }

            img {
                @include centerPositionY;
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
        }
    }
}
#description {
    max-width: 650px;
}