<h1>AREAS</h1>
<table class="table__general">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SLUG</th>
        <th>STATUS</th>
        <th>CREATED_AT</th>
        <th>UPDATED_AT</th>
        <th>ACTIONS</th>
        <th>
            <button mat-icon-button (click)="onCreate()"><mat-icon>add_circle</mat-icon></button>
        </th>
    </tr>
    <tr *ngFor="let area of listAreas" (click)="onDetail(area)">
        <td>{{area.id}}</td>
        <td>{{area.name}}</td>
        <td>{{area.slug}}</td>
        <td>{{area.status}}</td>
        <td>{{area.created_at | date:'medium'}}</td>
        <td>{{area.updated_at | date: 'medium'}}</td>        
        <td>            
            <button mat-icon-button (click)="onEdit($event, area)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="onDelete($event, area.id)"><mat-icon>delete</mat-icon></button>
        </td>
        <td></td>
    </tr>
</table>