<div class="detail__dialog">
    <mat-dialog-actions align="end">
        <button class="btn__close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
    </mat-dialog-actions>
    <mat-dialog-content>
        <div class="detail__content">
            <div class="box" *ngFor="let area of arrArea">
                <div class="flex">
                    <div class="item">
                        <div class="item__sub">
                            <div class="item__sub--title">ID</div>
                            <div class="item__sub--value">{{area.id}}</div>
                        </div>
                    </div>      
                    <div class="item">
                        <div class="item__sub">
                            <div class="item__sub--title">NAME</div>
                            <div class="item__sub--value">{{area.name}}</div>
                        </div>
                    </div>  
                </div>  
                <div class="flex">
                    <div class="item">
                        <div class="item__sub">
                            <div class="item__sub--title">SLUG</div>
                            <div class="item__sub--value">{{area.slug}}</div>
                        </div>
                    </div>   
                    <div class="item">
                        <div class="item__sub">
                            <div class="item__sub--title">STATUS</div>
                            <div class="item__sub--value">{{area.status}}</div>
                        </div>
                    </div>     
                </div>      
                <div class="flex">
                    <div class="item">
                        <div class="item__sub">
                            <div class="item__sub--title">CREATED_AT</div>
                            <div class="item__sub--value">{{area.created_at}}</div>
                        </div>
                    </div>   
                    <div class="item">
                        <div class="item__sub">
                            <div class="item__sub--title">CREATED_BY_ID</div>
                            <div class="item__sub--value">{{area.created_by_id}}</div>
                        </div>
                    </div>     
                </div>  
                <div class="flex">
                    <div class="item">
                        <div class="item__sub">
                            <div class="item__sub--title">UPDATED_AT</div>
                            <div class="item__sub--value">{{area.updated_at}}</div>
                        </div>
                    </div>   
                    <div class="item">
                        <div class="item__sub">
                            <div class="item__sub--title">UPDATED_BY_ID</div>
                            <div class="item__sub--value">{{area.updated_by_id}}</div>
                        </div>
                    </div>     
                </div>                                      
            </div>
        </div>
    </mat-dialog-content>    
</div>


